.scroll-to-top-btn {
	position: fixed;
	bottom: 16px;
	right: 0;
	width: 36px;
	height: 36px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid lightgray;
	font-size: 20px;
	color: gray;
}
