.form-control {
	display: block;
	width: 100%;
	border: 1px solid #333f48;
	position: relative;
	color: #333f48;
	font-weight: 500;
	border-radius: 2px;
	background-color: #fff;
	height: 56px;
	&:focus-within {
		border: 1px solid #63b1bc;
	}
	select {
		border: none;
		outline: none;
		width: 100%;
		font-size: 14px;
		line-height: 21px;
		height: 100%;
		padding: 25px 10px 7px 10px;
		background-image: url(../../assets/icons/arrow-select.svg);
		background-position: right 10px center;
		background-size: 16px;
		background-repeat: no-repeat;
		appearance: none;
	}
	label {
		font-size: 12px;
		line-height: 16px;
		position: absolute;
		top: 7px;
		left: 10px;
	}
}
