.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 80px;
	background-color: #fff;
	.left {
		font-weight: 600;
		display: flex;
		align-items: center;
		span {
			margin-left: 24px;
		}
	}
	.right {
		font-weight: 600;
		display: flex;
		align-items: center;
		a {
			color: #000;
			text-decoration: underline;
		}
	}
}
